#menuAbout, #dialogAbout {
    color: white;
}

.content {
    margin: auto;
    width: 1000px;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

#intro {
    width: 80%;
    margin: auto;
}

.b {
    font-weight: 700;
}

.texts {
    width: 75%;
    padding-top: 10px;
    margin: 0;
}

.image {
    width: 25%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 0;
}

.image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
    transition: 200ms;
    scale: 105%;
}

.image img:hover {
    scale: 100%;
    cursor: pointer;
}

.first {
    margin-bottom: 40px;
    margin-top: -5px;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.3rem;
}

.last {
    text-align-last: center;
}

#textLeft {
    padding-right: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.intro {
    text-align: justify;
    text-align-last: center;
}

.heading {
    position: relative;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1px;
    text-align: center;
    width: 100%;
}

#content2 {
    flex-direction: row-reverse;
    margin-top: 40px;
}

#texts2 {
    width: 75%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0;
}

.second {
    padding-left: 60px;
}

#outro {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#mobileFotos {
    width: 100%;
    display: none;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

#mobileFotos img {
    width: calc(50% - 5px);
    max-width: 250px;
    border-radius: 3px;
    margin-bottom: 40px;
}

#mobileFotos img:hover {
    cursor: pointer;
}

@media (max-width: 860px) {
    .image {
        display: none;
    }

    .texts, #texts2, #intro, #outro {
        width: 100%;   
    }

    #textLeft, .second {
        padding-left: 0;
        padding-right: 0;
    }

    #mobileFotos {
        display: flex;
    }
}

@media (min-width: 861px) {
    #outro {
        width: 90%;
    }
}

#fullPhotos {
    background-color: #0f0f0fc1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 300;
    backdrop-filter: blur(10px);
}

#fullPhotos div {
    height: auto;
    width: auto;
    display: none;
    max-width: 95%;
    max-height: 95%;
    aspect-ratio: 2 / 3;
    border-radius: 3px; /* Apply rounded corners here */
    overflow: hidden; /* Ensure the image respects the border-radius */
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
}

#fullPhotos div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#closeImage {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    top: 2.5%;
    position: fixed;
    right: 2.5%;
    background-color: #2d2d2d;
    color: white;
    border-radius: 5px;
    transition: 200ms;
}

#closeImage:hover {
    background-color: white;
    color: #000;
}

.contentBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 3px;
    margin-top: 20px;
}

#setup {
    margin-top: 20px;
}

.contentItem {
    background-color: #252525;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: calc(50% - 12px);
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    border-radius: 3px;
}

    .contentItem img {
        width: 25px;
        height: 25px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .contentItem p {
        width: 200px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: .9rem;
    }

    #hundred {
        width: 100%;
    }

    #hundred p {
        font-size: 1rem;
        font-weight: 600;
    }

@media (max-width: 700px) {
    .contentItem {
        width: 100%;
    }
}
