:root {
    --details: 300px;
}

#menuKontakt, #dialogKontakt {
    color: white;
}

#space {
    height: var(--menuHeight);
}

form {
    margin: auto;
    width: 1000px;
    max-width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 15px;align-items: flex-start;
}

#details {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#detailInputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    resize: none;
    overflow-y: hidden;
    overflow-x: auto;
    width: 70%;
    min-height: 250px;
}

input:focus, textarea:focus {
    border-color: white;
    outline: none;
    box-shadow: none;
}

#emailInfo {
    font-size: 0.9rem;
    font-weight: 300;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

#emailInfo span {
    font-weight: 600;
}

.texte {
    background-color: #0f0f0f;
    border-style: solid;
    border-width: 2px;
    border-color: #5e5e5e;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

input.texte {
    width: 100%;
    height: 45px;
}

input[type=submit] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    background-color: #5e5e5e;
    color: white;
    height: 33px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1rem;
    border-style: none;
    transition: 200ms;
    margin: auto;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#hr {
    width: 80%;
    border-style: none;
    background-color: white;
    height: 1px;
    margin-bottom: 20px;
}

@media (max-width: 850px) {
    #details {
        width: 40%;
    }
}

@media (max-width: 800px) {
    form {
        flex-direction: column;
    }
    
    textarea {
        width: 100%;
        min-height: 190px;
    }

    #detailInputs {
        flex-direction: row;
        box-sizing: border-box;
    }
    #detailInputs input {
        box-sizing: border-box;
        width: calc(50% - 5px);
    }

    #details {
        width: 100%;
    }
}

@media (max-width: 550px) {
    textarea {
        min-height: 250px;
    }
}

@media (max-width: 620px) {
    #detailInputs {
        flex-direction: column;
    }

    #detailInputs input {
        width: 100%;
    }
}

h3 {
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.1rem;
    margin-top: 40px;
    font-weight: 600;
}

.contact {
    font-size: 1rem;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: var(--border);
    text-decoration: none;
    margin-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #323232;
    font-weight: 450;
    display: inline-block;
    color: white;
}

.contact:hover {
    background-color: #323232;
}

#gimbal {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 500px;
    max-width: 90%;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: -30px;
}