@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #0f0f0f;
    --button: #2f2f2f;
    --text: #ffffff;
    --white: #ffffff;
    --black: #000000;
    --grey: #535353;
    --shadow: #ffffff6e;
    --themeDark: #202020;

    --menuHeight: 50px;
    --pages: 850px;
    --maxPages: 90%;

    --border: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    align-self: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    zoom: 100%;
    scroll-behavior: smooth;
    width: 100%;
}

::selection {
    color: var(--black);
    background-color: var(--white);
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 40px;
    font-size: 35px;
    font-weight: 700;
}

h2 {
    margin-top: 35px;
    margin-bottom: 0px;
    line-height: 20px;
    font-weight: 300;
    font-size: 18px;
}

.h3 {
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2rem;
    display: inline-block;
}

a {    
    color: var(--white);
}

p {
    font-size: 1rem;
    margin-top: 10px;
}

button {
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 70px;
    border-style: none;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 90%;
    width: 396px;
    margin: auto;
    margin-top: 40px;
}

#buttons a {
    background-color: var(--button);
    display: inline;
    position: relative;
    text-decoration: none;
    width: 130px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.05rem;
    font-weight: 500;
    transition: 200ms;
    border-radius: var(--border);
}

hr {
    border-color: #838383;
    border-style: solid;
    border-width: 1px;
    width: 420px;
    max-width: 90%;
}

#titleHr {margin-top: 30px;
    
}

.contact {
    font-size: 16px;
    color: #bbbbbb;
    transition: 200ms;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 45px;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.contact:hover {
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 457px) {
    #buttons {
        width: 400px;
    }

    #buttons a {
        width: 300px;
    }

    hr {
        width: 320px;
    }
}

#footer {
    margin-top: 120px;
}

#footer p, a {
    font-size: .8rem;
    padding: 0;
    margin-top: 0;
}

#mail {
    display: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

#footer a {
    display: block;
}

#socials {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#socials button {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#socials p {
    margin-right: 3px;
    padding-top: 6px;
}

#socials a img, #socials button img {
    width: 25px;
    mix-blend-mode: screen;
}

@media (hover: hover) and (pointer: fine) {
    #buttons a:hover {
        background-color: var(--grey)
    }
}

.xs {
    font-size: 10px;
}

@media (min-width: 457px) {
    .shadow {
        box-shadow: 0px 0px 30px var(--shadow);
    }
}

main {
    min-height: calc(100vh - 400px);
}

.deselect {
    font-weight: 100;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.width80 {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 80px;
}